@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
	var home = @CurrentPage.Site();
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="@CurrentPage.siteDescription">
	<title>@CurrentPage.Name | @CurrentPage._siteTitle</title>
	<link href="~/a/dist/css/ste-pam.min.css" rel="stylesheet" />
	<script src="~/a/dist//js/svg-injector.min.js"></script>
</head>

<body>
	<header>
		@*@{ Html.RenderPartial("MainNavigation"); }*@
		@{ Html.RenderPartial("HeaderNav"); }
	</header>
	<main>
		@RenderBody()
	</main>
	<footer class="hidden-print footer">
		@{ Html.RenderPartial("BottomNavigation"); }
	</footer>
	<script src="~/a/dist//js/jquery.slim.min.js"></script>
	<script>
    var SVGsToInject = document.querySelectorAll('.icon');
    SVGInjector(SVGsToInject);
	</script>
</body>
</html>