@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
	var home = @CurrentPage.Site();
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="@CurrentPage.siteDescription">
	<title>@CurrentPage.Name | @CurrentPage._siteTitle</title>
</head>

<body>
	<header>
		@*@{ Html.RenderPartial("MainNavigation"); }*@
		@{ Html.RenderPartial("HeaderNav"); }
	</header>
	<main>
		@RenderBody()
	</main>
	<footer class="hidden-print">
		@{ Html.RenderPartial("BottomNavigation"); }
	</footer>
</body>
</html>