@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Page.cshtml";
    var articles = Model.Content.Children<BlogArticle>().Where(x => x.IsVisible()).OrderByDescending(x => x.CreateDate).Take(20);
}

<section class="hero hero--glade">
    <div class="container">
        <h1 class="hero__title">Blog</h1>
    </div>
</section>

<div class="sections">
    <section class="section">
        @if (articles.Any())
        {
            foreach (var article in articles)
            {
                <article class="card" @*style="background-image: url('@article.Image.GetCropUrl("Thumb")')"*@>
                    <a href="@article.Url" class="card__link"><h2 class="card__title">@article.Name</h2></a>
                    <h3 class="card__subtitle">@article.Topic</h3>
                    <p class="card__body">@article.Description</p>
                </article>
            }
        }
    </section>
</div>