@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    var metadata = Model.Content.GetPropertyValue<Epiphany.SeoMetadata.SeoMetadata>("metadata");
    var siteName = Model.Content.AncestorOrSelf(1).Name;
    var pageTite = (((metadata != null ? metadata.Title : null) ?? Model.Content.Name));
    pageTite = pageTite.Equals(siteName, StringComparison.CurrentCultureIgnoreCase) ? siteName : pageTite + " | " + siteName;
}
<!DOCTYPE html>
<html lang="en-gb">
<head>
	<meta charset="utf-8" />
	<link rel="SHORTCUT ICON" href="" />
	<link rel="icon" href="" />
	<meta name="theme-color" content="#29B8B9">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@pageTite</title>
    <meta name="description" content=" @((metadata != null ? metadata.Description : null) ?? @Model.Content.GetPropertyValue("description"))" />
	<meta property="og:locale" content="en_GB">
	<link href="~/a/dist/css/ste-pam.min.css" rel="stylesheet" />
</head>
<body>
        <nav id="siteNav" class="site-nav">
            <span class="nav-title">Site Nav</span>
            <a href="javascript:void(0)" id="closeMobMenu" class="close-site-nav"><span class="glyphicon glyphicon-remove"></span></a>
            <ul>
                <li>
                    <a href="javascript:void(0)" data-name="Back" onclick="history.back();">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </li>
                <li>
                    <a href="/" data-name="Home">
                        <span class="home-link">SP</span>
                    </a>
                </li>
                <li>
                    <a href="/" data-name="About">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </li>
                <li>
                    <a href="/blog" data-name="Blog">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </li>
                <li>
                    <a href="/home" data-name="Work">
                        <span class="glyphicon glyphicon-console"></span>
                    </a>
                </li>
                <li>
                    <a href="/contact" data-name="Contact">
                        <span class="glyphicon glyphicon-send"></span>
                    </a>
                </li>
            </ul>
        </nav>
        <main>
            @RenderBody()
        </main>
                    @Html.Partial("Partials/_Footer")
        @*<script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-45636226-1', 'ste-pam.com');
        ga('send', 'pageview');

        document.getElementById('mobileMenu').addEventListener('click', function (ev) {
            document.getElementById('mobileMenu').style.display = "none";
            document.getElementById('siteNav').classList.add('active');
            //$('.site-nav').addClass('active')
            document.body.className += 'menu-open';
            return false;
        }, false);

        document.getElementById('closeMobMenu').addEventListener('click', function (ev) {

            document.getElementById('mobileMenu').style.display = "block";
            document.getElementById('siteNav').classList.remove('active');
            document.body.className = '';
            return false;
        }, false);

        </script>*@
</body>
</html>