@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    var metadata = Model.Content.GetPropertyValue<Epiphany.SeoMetadata.SeoMetadata>("metadata");
}
<!DOCTYPE html>
<html lang="en-gb">
<head>
	<meta charset="utf-8" />
	<link rel="SHORTCUT ICON" href="" />
	<link rel="icon" href="" />
	<meta name="theme-color" content="#29B8B9">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@(metadata != null ? metadata.Title : null) ?? @Model.Content.Name</title>
    <meta name="description" content=" @(metadata != null ? metadata.Description : null) ?? @Model.Content.GetPropertyValue("description")" />
	<meta property="og:locale" content="en_GB">
	<link href="~/a/dist/css/this-is-stoke.min.css" rel="stylesheet" />
</head>
<body>
		@RenderBody()
</body>
</html>