@model BlogArticle
@using Tranquility.Helpers

<article class="media">
    <div class="media_body">
        <h4 class="media__heading"><a class="media__link" href="@Model.Url">@Model.Name</a></h4>
        <time class="text-muted" datetime="@Model.CreateDate">@Model.CreateDate.Friendly()</time>
        <p>@Model.Description</p>
    </div>
</article>