@model Tranquility.Models.Content.BlogArticle
@using Tranquility.Helpers
<div></div>
<article class="section">
    <header class="section__facts section__facts--container">
        <div class="section__fact section__fact--lift">
            <div class="section__meta">
                <span>@Model.CreatorName</span><time datetime="@Model.CreateDate">@Model.CreateDate.Friendly()</time>
            </div>
            <h1 class="lead"><a class="h2" href="@Model.Url">@Model.Name</a><sup><a href="@Model.Url">@*<span class="glyphicon glyphicon-link"></span>*@</a></sup></h1>
            <p class="text-center"><a href="#">@Model.Topic</a></p>
            <p class="text-muted">
                @Model.Description
            </p>
        </div>
    </header>
    <div class="article-body section__content">
        @if (Model.UpdateDate < DateTime.Now.AddYears(-1))
        {
            <div class="alert alert--old">
                <h4 class="alert__title">
                    <i class="alert__icon">
                        <svg>
                            <use xlink:href="/a/dist/sprites/sprite.svg#warning"></use>
                        </svg>
                    </i> Old Article
                </h4>
                This content may be out of date or broken, please take care.
            </div>
        }
        @Html.GetGridHtml(Model, "content", "Bootstrap4")
    </div>
    <footer class="section__content">
        <nav>
            <ul class="pager">
                @if (Model.PrecedingSibling() != null)
                {
                    <li><a href="@Model.PrecedingSibling().Url"><span>&larr;</span> Older</a></li>
                }
                @if (Model.FollowingSibling() != null)
                {
                    <li><a href="@Model.FollowingSibling().Url">Newer <span>&rarr;</span></a></li>
                }
            </ul>
        </nav>
        <div id="comments">
            <h2>Comments</h2>
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                        var disqus_shortname = 'ste-pam';
                        var disqus_identifier = 'article-@Model.Id';
                        var disqus_title = '@Model.Name';
                        var disqus_url = '@Model.UrlWithDomain()';
                        (function () {
                            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
            </script>
        </div>
    </footer>
</article>